<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pfhuang.parkingmaster_boot.dao.ParkingspaceMapper" >
  <resultMap id="BaseResultMap" type="com.pfhuang.parkingmaster_boot.entity.Parkingspace" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="parkingspace_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="parkinglot_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="start_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="end_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="gmt_create" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="gmt_modified" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, parkingspace_id, parkinglot_id, status, user_id, start_time, end_time, gmt_create, 
    gmt_modified
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from parkingspace
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from parkingspace
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pfhuang.parkingmaster_boot.entity.Parkingspace" >
    insert into parkingspace (id, parkingspace_id, parkinglot_id, 
      status, user_id, start_time, 
      end_time, gmt_create, gmt_modified
      )
    values (#{id,jdbcType=INTEGER}, #{parkingspaceId,jdbcType=INTEGER}, #{parkinglotId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, now(), now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pfhuang.parkingmaster_boot.entity.Parkingspace" >
    insert into parkingspace
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="parkingspaceId != null" >
        parkingspace_id,
      </if>
      <if test="parkinglotId != null" >
        parkinglot_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parkingspaceId != null" >
        #{parkingspaceId,jdbcType=INTEGER},
      </if>
      <if test="parkinglotId != null" >
        #{parkinglotId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pfhuang.parkingmaster_boot.entity.Parkingspace" >
    update parkingspace
    <set >
      <if test="parkingspaceId != null" >
        parkingspace_id = #{parkingspaceId,jdbcType=INTEGER},
      </if>
      <if test="parkinglotId != null" >
        parkinglot_id = #{parkinglotId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pfhuang.parkingmaster_boot.entity.Parkingspace" >
    update parkingspace
    set parkingspace_id = #{parkingspaceId,jdbcType=INTEGER},
      parkinglot_id = #{parkinglotId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = now()
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByParkingSpaceIdAndParkinglotId" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from parkingspace
    where parkingspace_id=#{parkingSpaceId}
    and parkinglot_id=#{parkinglotId}

  </select>
</mapper>